@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

body {
 
    background: #444;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    padding-top: 65px;
}
@media (max-width: 979px) {
    body { padding-top: 0px; }
}


    /* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
    